.body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .body {
    grid-column-gap: 2rem;
  }
}

@media (max-width: 1124px) {
  .body {
    grid-template-columns: auto auto;
    grid-column-gap: 6rem;
  }
}

@media (max-width: 800px) {
  .body {
    grid-column-gap: 3rem;
  }
}

@media (max-width: 740px) {
  .body {
    grid-column-gap: 2rem;
  }
}

@media (max-width: 724px) {
  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
